apps/serverless-backend/state-machines/split-transfer.asl.json
{
  "Comment": "Split transfer orchestration: process a transfer leg and compensate on failure.",
  "StartAt": "ProcessLeg",
  "States": {
    "ProcessLeg": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ProcessTransferArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.processResult",
      "Retry": [
        {
          "ErrorEquals": ["TransferTransientError"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensateLeg"
        }
      ],
      "Next": "CheckProcessResult"
    },

    "CheckProcessResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.processResult.Payload.status",
          "StringEquals": "SUCCEEDED",
          "Next": "Succeed"
        }
      ],
      "Default": "CompensateLeg"
    },

    "CompensateLeg": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CompensateTransferArn}",
        "Payload": {
          "executionId.$": "$.executionId",
          "legId.$": "$.leg.legId",
          "providerTransferId.$": "$.processResult.Payload.providerTransferId",
          "reason.$": "$.processResult.Payload.reason"
        }
      },
      "ResultPath": "$.compensationResult",
      "Next": "CheckCompensationResult"
    },

    "CheckCompensationResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.compensationResult.Payload.status",
          "StringEquals": "COMPENSATED",
          "Next": "ManualReview"
        }
      ],
      "Default": "ManualReview"
    },

    "ManualReview": {
      "Type": "Fail",
      "Cause": "Transfer requires manual review or compensation completed",
      "Error": "TRANSFER_MANUAL_REVIEW"
    },

    "Succeed": {
      "Type": "Succeed"
    }
  }
}
